# Tüm shader ve grafik dosyalarını istatistiklerden temizle
*.shader linguist-vendored
*.hlsl linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored

# Unity meta dosyalarını sayma
*.meta linguist-vendored

# Proje ayarlarını (Yaml dosyalarını) sayma
*.asset linguist-vendored
*.unity linguist-vendored
